@charset "utf-8";

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', 'ＭＳ Ｐゴシック', Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    background-color: #eb5505;
    color: #fff;
    transition: transform 300ms ease-in-out;
}

.header.-shrink {
    transform: translateY(-64px);
}

.header__inner {
    margin: 0 auto;
}

.header__top {
    height: 44px;
    padding: 10px;
}

.header__search {
    display: flex;
    align-items: stretch;
    border-radius: 4px;
    background-color: #fff;
    height: 44px;
    line-height: 44px;
}

.header__search-form {
    flex-basis: 100%;
    border: none;
    -webkit-appearance: none;
    padding-right: 20px;
}

.header__search-form-input {
    width: 100%;
    border: none;
    -webkit-appearance: none;
    font-size: 16px;
    outline: none;
}

.header__botton.-sidemenu {
    display: block;
    position: relative;
    left: 0;
    width: 22px;
    height: 16px;
    border: 2px solid #eb5505;
    border-width: 2px 0;
    box-sizing: border-box;
    margin: auto 14px;
}

.header__botton.-sidemenu::before {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 50%;
    border-top: 2px solid #eb5505;
    box-sizing: border-box;
    top: 5px;
    content: '';
}
.header__under {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    line-height: 3rem;
}

.header__nav-title {
    position: absolute;
    top: 10px;
    left: 60px;
}

.header__nav-item {
    flex: 1;
    text-align: center;
}

.header__nav-controller {
    display: none;
}

.header__nav-controller:checked + .header__nav-label {
    border-bottom: 2px solid #fff;
}

.header__nav-label {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 300ms;
    font-size: 14px;
}

.main {
    position: relative;
    margin-top: 112px;
    text-align: center;
}

.carousel {
    padding: 10px 0;
}

.carousel__container {
    display: flex;
    width: 100%;
    height: 100px;
}

.carousel__viewport {
    z-index: 2;
    width: 320px;
    overflow: hidden;
    position: relative;
}
.carousel__button {
    z-index: 1;
    flex-grow: 1;
    position: relative;
    height: 100%;
    background-color: #eee;
}
.carousel__button::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #535353;
    content: '';
}
.carousel__button.-prev::before {
    right: 0;
    border-left: 2px solid #535353;
    transform: rotate(-45deg) translate(0,-50%);
}
.carousel__button.-next::before {
    left: 0;
    border-right: 2px solid #535353;
    transform: rotate(45deg) translate(0,-50%);
}

.carousel__item-wrapper {
    display: flex;
    width: 960px;
    position: absolute;
    left: -320px;
    transition: transform 300ms ease-in-out;
}
.carousel__item-wrapper.-stop-transition {
    pointer-events: none;
    transition: none;
}
.carousel__item-wrapper.-prev {
    transform: translate(320px, 0);
}
.carousel__item-wrapper.-next {
    transform: translate(-320px, 0);
}

.carousel__item.-first {
    order: 1;
}
.carousel__item.-second {
    order: 2;
}
.carousel__item.-third {
    order: 3;
}
.carousel__item-wrapper.-left .carousel__item.-third {
    order: 0;
}
.carousel__item-wrapper.-right .carousel__item.-first {
    order: 4;
}

.carousel__indicator-wrapper {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.carousel__indicator {
    width: 7px;
    height: 7px;
    margin: 5px;
    border-radius: 50%;
    background-color: #535353;
    opacity: .3;
    transition: opacity 300ms ease-in-out;
}
.carousel__indicator.-active {
    background-color: #535353;
    opacity: 1;
}


.carousel2 {
    padding: 10px 0;
}

.carousel2__container {
    display: flex;
    width: 100%;
    height: 100px;
}

.carousel2__viewport {
    z-index: 2;
    width: 320px;
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.carousel2__button {
    z-index: 1;
    flex-grow: 1;
    position: relative;
    height: 100%;
    background-color: #eee;
}
.carousel2__button::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 10px;
    border-top: 2px solid #535353;
    content: '';
}
.carousel2__button.-prev::before {
    right: 0;
    border-left: 2px solid #535353;
    transform: rotate(-45deg) translate(0,-50%);
}
.carousel2__button.-next::before {
    left: 0;
    border-right: 2px solid #535353;
    transform: rotate(45deg) translate(0,-50%);
}

.carousel2__item-wrapper {
    display: flex;
    width: 960px;
    position: absolute;
    left: 0;
    transition: transform 300ms ease-in-out;
}
.carousel2__item-wrapper.-stop-transition {
    pointer-events: none;
    transition: none;
}
.carousel2__item-wrapper.-prev {
    transform: translate(320px, 0);
}
.carousel2__item-wrapper.-next {
    transform: translate(-320px, 0);
}

.carousel2__item.-first {
    order: 1;
}
.carousel2__item.-second {
    order: 2;
}
.carousel2__item.-third {
    order: 3;
}
.carousel2__item-wrapper.-left .carousel2__item.-third {
    order: 0;
}
.carousel2__item-wrapper.-right .carousel2__item.-first {
    order: 4;
}

.carousel2__indicator-wrapper {
    margin: 10px;
    display: flex;
    justify-content: center;
}
.carousel2__indicator {
    width: 7px;
    height: 7px;
    margin: 5px;
    border-radius: 50%;
    background-color: #535353;
    opacity: .3;
    transition: opacity 300ms ease-in-out;
}
.carousel2__indicator.-active {
    background-color: #535353;
    opacity: 1;
}
